<a href="https://colab.research.google.com/github/carmeniturbe/ejercicios_DS_Fundamentals/blob/main/Ejercicios_de_Pandas_en_el_conjunto_de_datos_de_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
import pandas as pd

In [22]:
#Muestren el centro del marco de datos.
filename = '/content/drive/MyDrive/Colab Notebooks/Data Science - Coding Dojo/Data/titanic.csv'
df = pd.read_csv(filename)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
#¿Cuál es el porcentaje de las personas que sobrevivió? (pista: encuentren la media de la columna de supervivencia).
porcentaje_sobrevivientes = df['Survived'].mean() * 100
print(f"El porcentaje de las personas que sobrevivió es: {porcentaje_sobrevivientes}%")

El porcentaje de las personas que sobrevivió es: 38.38383838383838%

In [24]:
#¿Cuántos de cada sexo sobrevivieron?
#V1.
#df.groupby('Sex')['Survived'].value_counts(dropna = False) -- Este me trae los que sobrevivieron y los que murieron
#V2.
sobrevivientes = df['Survived'] == 1
df[sobrevivientes].groupby('Sex')['Survived'].value_counts(dropna = False) #La forma en que solucione para que solo salieran los que sobrevivieron

#V3.
#survived_counts = df[df['Survived'] == 1].groupby('Sex')['Survived'].value_counts(dropna=False) --- LA MEJOR FORMA DE HACERLO porque hace todo en una sola linea

Sex     Survived
female  1           233
male    1           109
Name: Survived, dtype: int64

In [25]:
#Si consideran solo el grupo de pasajeros que pagó menos de $10, ¿cuál sería el porcentaje de este grupo que sobrevivió?
pago_menor_a_10 = df['Fare'] < 10
total_pasajeros = df['Survived']
print(len(total_pasajeros))
grupo_sobrevivientes = df[sobrevivientes & pago_menor_a_10]
print(len(grupo_sobrevivientes))
porcentaje_sobrevivientes = len(grupo_sobrevivientes) / len(total_pasajeros) * 100
print(f"El porcentaje de pasajeros que pagaron menos de $10 y sobrevivieron es: {porcentaje_sobrevivientes}%")

891
67
El porcentaje de pasajeros que pagaron menos de $10 y sobrevivieron es: 7.519640852974187%

In [26]:
#En total, ¿cuál es la edad promedio de los que no sobrevivieron?
muertes = df['Survived'] == 0

edad_promedio_no_sobrevivientes = df[muertes]['Age'].mean()
print(edad_promedio_no_sobrevivientes)

print(f"La edad promedio de los que no sobrevivieron es: {edad_promedio_no_sobrevivientes}")

30.62617924528302
La edad promedio de los que no sobrevivieron es: 30.62617924528302

In [27]:
#En total, ¿cuál es la edad promedio de los que sobrevivieron?
edad_promedio_sobrevivientes = df[sobrevivientes]['Age'].mean()
print(edad_promedio_sobrevivientes)
print(f"La edad promedio de los que sobrevivieron es: {edad_promedio_sobrevivientes}")

28.343689655172415
La edad promedio de los que sobrevivieron es: 28.343689655172415

In [32]:
#¿Cuál es el promedio de edad de los que sobrevivieron y los que no sobrevivieron agrupado por sexo?
edad_promedio_pasajeros = df.groupby(['Sex', 'Survived'])['Age'].mean()
print(edad_promedio_pasajeros)

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64